In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder

In [2]:
# Load the Titanic dataset
titanic = pd.read_csv('tested.csv')

In [22]:
titanic

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Age*Class
0,0,3,1,34.5,0,0,7.8292,1,1,1,103.5
1,1,3,0,47.0,1,0,7.0000,2,2,0,141.0
2,0,2,1,62.0,0,0,9.6875,1,1,1,124.0
3,0,3,1,27.0,0,0,8.6625,2,1,1,81.0
4,1,3,0,22.0,1,1,12.2875,2,3,0,66.0
...,...,...,...,...,...,...,...,...,...,...,...
413,0,3,1,27.0,0,0,8.0500,2,1,1,81.0
414,1,1,0,39.0,0,0,108.9000,0,1,1,39.0
415,0,3,1,38.5,0,0,7.2500,2,1,1,115.5
416,0,3,1,27.0,0,0,8.0500,2,1,1,81.0
417,0,3,1,27.0,1,1,22.3583,0,3,0,81.0

In [23]:
# Drop unnecessary columns
titanic.drop(['Cabin', 'Name', 'Ticket', 'PassengerId'], axis=1, inplace=True)

# Handling missing values (e.g., filling missing ages with the median age)
titanic['Age'].fillna(titanic['Age'].median(), inplace=True)
titanic['Embarked'].fillna(titanic['Embarked'].mode()[0], inplace=True)

# Encoding categorical features
le = LabelEncoder()
titanic['Sex'] = le.fit_transform(titanic['Sex'].values)
titanic['Embarked'] = le.fit_transform(titanic['Embarked'].values)

# Feature engineering
titanic['Age*Class'] = titanic['Age'] * titanic['Pclass']

KeyError: "['Cabin', 'Name', 'Ticket', 'PassengerId'] not found in axis"

In [24]:
titanic

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Age*Class
0,0,3,1,34.5,0,0,7.8292,1,1,1,103.5
1,1,3,0,47.0,1,0,7.0000,2,2,0,141.0
2,0,2,1,62.0,0,0,9.6875,1,1,1,124.0
3,0,3,1,27.0,0,0,8.6625,2,1,1,81.0
4,1,3,0,22.0,1,1,12.2875,2,3,0,66.0
...,...,...,...,...,...,...,...,...,...,...,...
413,0,3,1,27.0,0,0,8.0500,2,1,1,81.0
414,1,1,0,39.0,0,0,108.9000,0,1,1,39.0
415,0,3,1,38.5,0,0,7.2500,2,1,1,115.5
416,0,3,1,27.0,0,0,8.0500,2,1,1,81.0
417,0,3,1,27.0,1,1,22.3583,0,3,0,81.0

In [25]:
# Split the data into training and testing sets
X = titanic.drop("Survived", axis=1)
y = titanic["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
from sklearn.impute import SimpleImputer

# Initialize an imputer
imputer = SimpleImputer(strategy='median')
# Fit and transform the imputer on your features
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Train the Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train_imputed, y_train)
# Make predictions
y_pred = rf_classifier.predict(X_test_imputed)

In [27]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [21]:
# Print the evaluation metrics
print("Accuracy:", accuracy)
print("Confusion Matrix:\n", confusion)
print("Classification Report:\n", classification_rep)

Accuracy: 1.0
Confusion Matrix:
 [[50  0]
 [ 0 34]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84